.example-container {
    width: 100%;
    height: calc(100% - 60px);
    display: block;
    position: relative;
}

.example-sidenav-content {
    height: calc(100% - 60px);
    overflow: auto;
    width: 100%;
    /* display: flex;
    justify-content: space-between; */
}

.example-sidenav {
    width: 300px;
    height: 100%;
}

.close{
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: relative;
    left: 10px;
    top: 10px;
    z-index: 99;
}

.close:hover{
    opacity: 0.7;
}