label {
    margin-right: 10px;
}

.label-create {
    display: inline-block;
    padding: 5px 10px;
    padding-bottom: 7px;
    background-color: #1976d2;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.label-edit {
    display: inline-block;
    padding: 5px 0px;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 10px;
    font-size: large;
    font-weight: bold;
}

pre {
    font-weight: bold;
}

h2 {
    font-weight: normal;
}

.delete-all {
    float: right;
}

.option-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.successfile {
    margin-right: 30px;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    color: green;
}

.errorfile,
.path-errorfile,
.undofile {
    margin-right: 30px;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    color: red;
}

.existsfile {
    margin-right: 30px;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    color: #DDAA00;
}

.waitingfile {
    margin-right: 30px;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    color: #1976d2;
}

.tab-box {
    max-height: 200px;
    overflow-y: scroll;
    width: 100%;
}

mat-error {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    margin-left: 10px;
}

.file-box {
    padding: 10px;
    max-height: 400px;
    background-color: rgb(15, 15, 16);
    color: #fff;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    overflow-y: scroll;
}

.add-new {
    cursor: pointer;
    color: rgb(0, 162, 255);
}

.add-delete {
    cursor: pointer;
    color: red;
    float: right;
    width: 50px;
    margin-left: 10%;
}

.add-return {
    cursor: pointer;
    color: green;
    float: right;
    width: 50px;
    margin-left: 10%;
}

li {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    transform: translateX(-20px);
    min-width: 500px;
}

li label,
li input,
li u {
    flex: 0 0 auto;
}

li input {
    flex-grow: 1;
}


.red-line {
    position: absolute;
    width: calc(100% - 50px);
    height: 100%;
    background-color: rgb(15, 15, 16);
}

.edit {
    margin-left: 20px;
    color: chocolate;
    cursor: url('../../assets/create_black_24dp.svg'), crosshair;
}

.title-box {
    display: flex;
    align-items: baseline;
}

.type-box {
    transform: translateY(8px);
    margin-right: 10px;
}