<label class="label-edit">Edit File:</label>
<label class="label-create" (click)="reloadConfigFile()">Reload Template</label>
<div class="file-box">
    <label>File name:</label>
    <input type="search" [(ngModel)]="currentFileName" placeholder="Ex. test_1 2023" (blur)="checkFileName()">
    <mat-error *ngIf="error['fileName'] == 'type1'">'/' and '\' shall not be used in file name</mat-error>
    <mat-error *ngIf="error['fileName'] == 'type2'">file name is required</mat-error>
    <mat-error *ngIf="error['fileName'] == 'type3'">file name is used</mat-error>

    <ul>
        <li *ngFor="let key of getObjectKeys(newFileData)">
            <div class="red-line" *ngIf="deletedItems.indexOf(key) != -1"></div>
            <label>· {{ key }}</label>
            <input matInput type="search" *ngIf="key == ''" [(ngModel)]="currrentKey" (blur)="updateKey()">
            <label>:</label>
            <input matInput type="search" [(ngModel)]="newFileData[key]">
            <u class="add-delete" (click)="deleteItem(key)" *ngIf="deletedItems.indexOf(key) == -1">delete</u>
            <u class="add-return" (click)="undoItem(key)" *ngIf="deletedItems.indexOf(key) != -1">undo</u>
        </li>
        <li>
            <u class="add-new" (click)="addNewItem()">+ add new item</u>
        </li>
    </ul>
</div>
<label class="label-create" (click)="newFile()">create this file</label>

<h2>created files:
    <button mat-button color="primary" (click)="feedToDB()"><u>click here to feed all in database</u></button>
    <button mat-button color="warn" class="delete-all" (click)="deleteAll()">
        <u>delete all</u></button>
</h2>
<div *ngIf="createdFiles.length > 0" class="tab-box">
    <mat-selection-list (selectionChange)="onSelected($event)">
        <mat-list-option *ngFor="let file of createdFiles" [value]="file.file_name" [selected]="selectedOrNot(file)"
            [disabled]="!selectedOrNot(file)">
            <div>{{ file.file_name }} <u (click)="editCreatedFiles(file.file_name)" class="edit">edit</u></div>
            <div class="option-box">
                <div [ngClass]="file.result.replace(' ', '-') + 'file'">upload: {{ file.result }}</div>
                <div [ngClass]="selectedFiles[file.file_name] + 'file'">save: {{ selectedFiles[file.file_name] }}</div>
            </div>
        </mat-list-option>
    </mat-selection-list>
</div>
<div *ngIf="createdFiles.length == 0">
    <ul>
        --none--
    </ul>
</div>