<mat-form-field style="width:300px">
  <mat-label>Select an option</mat-label>
  <mat-select disableRipple [(ngModel)]="selectedItem" style="width:300px" (selectionChange)="ngOnChanges()">
    <mat-option value="{{item}}" *ngFor="let item of selectItem">{{ item }}</mat-option>
  </mat-select>
</mat-form-field>

<div class="vertikal">
  <div class="row">
    <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions" *ngIf="show"></highcharts-chart>
    <div *ngFor="let who of ['post','post/pre']">
      <div class="example-table-container" *ngIf="showTable">
        <div class="title-table">{{ experiment['experiment']['Experiment_ID'] }}</div>
        <div class="subtitle-table">One-Way ANOVA on {{ who }}: (F: {{ tableData[who]['F-statistic'] }}, p: {{
          tableData[who]['p-value'] }}) + Tukey</div>
        <table mat-table [dataSource]="tableData[who]['Tukey HSD 0.05']" class="mat-elevation-z8">
          <ng-container matColumnDef="{{item}}" *ngFor="let item of tableHeader">
            <th mat-header-cell *matHeaderCellDef>{{item}}</th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="element[item] || item == 'reject'">
                <span *ngIf="element[item] || item == 'reject'"
                  [class.green]="setGreen(element[item])">{{element[item]}}</span>
              </div>

            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="tableHeader"></tr>
          <tr mat-row *matRowDef="let row; columns: tableHeader"></tr>
        </table>
      </div>
    </div>


  </div>
  <div class="row">
    <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions_average_versuch"
      *ngIf="show_average_versuch"></highcharts-chart>
    <div *ngFor="let who of ['post','post/pre']">
      <div class="example-table-container" *ngIf="showTable_average_versuch">
        <div class="title-table">{{ experiment['experiment']['Experiment_ID'] }}</div>
        <div class="subtitle-table">One-Way ANOVA on {{ who }}: (F: {{ tableData_average_versuch[who]['F-statistic'] }},
          p: {{
          tableData_average_versuch[who]['p-value'] }}) + Tukey</div>
        <table mat-table [dataSource]="tableData_average_versuch[who]['Tukey HSD 0.05']"
          class="mat-elevation-z8 demo-table">
          <ng-container matColumnDef="{{item}}" *ngFor="let item of tableHeader">
            <th mat-header-cell *matHeaderCellDef>{{item}}</th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="element[item] || item == 'reject'">
                <span *ngIf="element[item] || item == 'reject'"
                  [class.green]="setGreen(element[item])">{{element[item]}}</span>
              </div>

            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="tableHeader"></tr>
          <tr mat-row *matRowDef="let row; columns: tableHeader"></tr>
        </table>
      </div>
    </div>


  </div>
  <div class="row">
    <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions_average_probe"
      *ngIf="show_average_probe"></highcharts-chart>
    <div *ngFor="let who of ['post','post/pre']">
      <div class="example-table-container" *ngIf="showTable_average_probe">
        <div class="title-table">{{ experiment['experiment']['Experiment_ID'] }}</div>
        <div class="subtitle-table">One-Way ANOVA on {{ who }}: (F: {{ tableData_average_probe[who]['F-statistic'] }},
          p: {{
          tableData_average_probe[who]['p-value'] }}) + Tukey</div>
        <table mat-table [dataSource]="tableData_average_probe[who]['Tukey HSD 0.05']"
          class="mat-elevation-z8 demo-table">
          <ng-container matColumnDef="{{item}}" *ngFor="let item of tableHeader">
            <th mat-header-cell *matHeaderCellDef>{{item}}</th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="element[item] || item == 'reject'">
                <span *ngIf="element[item] || item == 'reject'"
                  [class.green]="setGreen(element[item])">{{element[item]}}</span>
              </div>

            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="tableHeader"></tr>
          <tr mat-row *matRowDef="let row; columns: tableHeader"></tr>
        </table>
      </div>
    </div>


  </div>
</div>