.content-box{
    margin-top: 20px;
}

.key{
    font-weight: bold;
}

.example-card{
    font-family: var(--mdc-typography-subtitle2-font-family, var(--mdc-typography-font-family, Roboto, sans-serif));
    position: relative;
}

.button-delete {
    position: absolute;
    right: 0px;
    top: 0px;
    transform: translateY(-10px);
}