h2 {
    padding: 0px;
    margin: 0px;
}

.focus {
    font-weight: bold;
    color: #1976d2;
}

.action:hover,
.focus:hover {
    cursor: pointer;
}

.list-box {
    height: 100%;
    max-width: 300px;
    overflow-y: auto;
    margin-top: 10px;
}

.mdc-list {
    padding: 0px
}


.example-container {
    width: 100%;
    min-height: 600px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    display: block;
    position: relative;
    margin-bottom: 50px;
}

.example-sidenav-content {
    height: 100%;
    width: 100%;
    overflow: auto;
    /* display: flex;
    justify-content: space-between; */
}

.example-sidenav {
    padding: 20px;
}

.toggle{
    position: absolute;
    left: 0px;
    top:0px;
    min-width: 0px;
    padding: 0px;
    min-height: none;
    padding-left: 10px;
}

.mirror-icon {
    transform: scaleX(-1);
  }

  .example-margin{
    margin: 0;
    transform: translateX(-10px);
  }