.main{
    width: auto;
    height: auto;
    min-height: 590px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 20px;
}

.content-box {
    margin-top: 20px;
}

.key {
    font-weight: bold;
}

.example-card {
    font-family: var(--mdc-typography-subtitle2-font-family, var(--mdc-typography-font-family, Roboto, sans-serif));
    position: relative;
    text-align: left;
    overflow: hidden;
    width: 400px;
}

.button-delete {
    position: absolute;
    right: 0px;
    top: 0px;
    transform: translateY(-10px);
}

.mat-mdc-card {
    border: solid;
    border-width: 2px;
    border-color: black;
}

.container {
    display: flex;
    height: 100%;
    transition: transform 0.3s ease;
    width: auto;
    align-items: center;
}

.show {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box {
    width: 400px;
    height: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.flat-button{
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
    background-color: white;
}

.button-icon:hover{
    opacity: 0.5;
}

.view{
    position: absolute;
    left: 0px;
    top:40px;
    min-width: 0px;
    padding: 0px;
    min-height: none;
    padding-left: 10px;
}

.analyse {
    width: auto;
    height: 100%;
    padding: 20px
}

mat-grid-tile {
    background: lightblue;
  }

  .onecell{
    margin:0px
  }