.focus {
    font-weight: bold;
    color: #1976d2;
}

.action, .focus{
    
}

.action:hover, .focus:hover {
    cursor: pointer;
}

h2 {
    padding: 0px;
    margin: 0px;
}

.list-box-ower {
    height: 468px;
    max-width: 280px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.list-box {
    height: 100%;
    width: calc(100% + 50px);
    max-width: 300px;
    overflow-y: scroll;
}